body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Tahoma, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
    flex: 1 0 auto;
    margin-right: auto;
}

ul {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.section {
    background-color: #1f2937;
    padding: 16px 10vw;
}

