body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Tahoma, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
    flex: 1 0 auto;
    margin-right: auto;
}

ul {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.section {
    background-image: linear-gradient(157deg, #256eff,#c325ff);
    padding: 16px 10vw;
}

.header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    padding: 10px;
    height: 30px;
    width: 30px;
    flex: 0 0 auto;
    color: white;
    font-size: 50px;
    margin-right: auto;
}

